server {
    listen 80;
    listen [::]:80;

    location / {
        # TODO: Add auth with the env variable
        if ($cookie_sessionSecret != "password") {
            return 401;
        }

        # TODO: Add proxy pass 
    }
}